.ourservices_wrap {
    position: relative;
    padding: 76px 0 60px;
    @media (max-width: 991px) {
        padding: 50px 0 40px;
    }

    .servicepattern {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .ourservices_content {
        @media (max-width: 991px) {
            margin-bottom: 32px;
        }
        .ourservices_title {
            text-align: center;
            @media (max-width: 991px) {
                position: relative;
                z-index: 2;
            }

            h6 {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: #018BCB;
            }

            h1 {
                font-weight: 600;
                font-size: 38px;
                line-height: 46px;
                text-align: center;
                color: #018BCB;
            }

            .servicetitlepattern_img {
                max-width: 53%;
                margin: 0 auto 30px;

                img {
                    width: 100%;
                }
            }
        }

        .services_text {
            color: #434343;
            margin-bottom: 0px;
        }
    }

    .ourservices_image {
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .service_card {
        background-color: #fff;
        box-shadow: 0 3px 20px rgb(0 0 0 / 6%), 0 2px 20px rgb(0 0 0 / 10%);
        border-radius: 5px;
        margin: 0 20px;
        @media (max-width: 1399px) {
            margin: 0px;
        }
        @media (max-width: 991px) {
            margin-bottom: 24px;
        }

        .service_card_img {
            height: 295px;
            @media (max-width: 991px) {
                height: 350px;
            }
            @media (max-width: 767px) {
                height: 250px;
            }
            @media (max-width: 575px) {
                height: auto;
            }
            img {
                width: 100%;
                border-radius: 5px 5px 0px 0px;
                height: 100%;
            }
        }

        .service_card_text {
            text-align: center;
            padding: 8px 0;

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 171.02%;
                text-align: center;
                color: #434343;
                margin-bottom: 0px;
            }
        }
    }
}